html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: linear-gradient(85deg, rgb(217, 234, 240), rgba(123, 187, 224, 0.911));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* صندوق تسجيل الدخول */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 500px;
    background-color: rgba(139, 213, 255, 0.911);
    box-shadow: 5px 5px 5px 5px rgba(85, 179, 185, 0.753);
    letter-spacing: 2px;
}

/* عنوان */
h1 {
    color: rgb(1, 147, 204);
    margin-block: 50px;
}

/* دخل */
.UserName,
.Password {
    padding-bottom: 40px;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    border: 5px solid rgb(4, 255, 234);
    animation: border_frame 2s infinite;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border: 5px solid rgb(35, 136, 161);
    animation: none;
}

/* تسجيل الدخول*/
button {
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    border: 4px solid;
    animation: button 2s infinite, heart 1.5s infinite;
    transform: scale(1.0);
}

/* تحريك الإطار */
@keyframes border_frame {
    0% {
        border-color: rgb(4, 255, 234);
    }

    50% {
        border-color: rgb(20, 185, 207);
    }

    100% {
        border-color: rgb(35, 136, 161);
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes button {
    0% {
        border-color: rgb(4, 255, 234);
    }

    50% {
        border-color: rgb(20, 185, 207);
    }

    100% {
        border-color: rgb(35, 136, 161);
    }
}

/*هل نسيت؟*/
.signin {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    font-family: serif;
    font-size: 14px;
    color: rgb(9, 105, 143);
    letter-spacing: 0;
}

.signin a {
    text-decoration: none;
    color: rgb(42, 78, 92);
    font-weight: bold;
}
<!--
By Kareem Azzam
Call: +963981990711
What's App : +963968868563
-->
